# Sembunyikan bahasa pendukung
*.sh linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored

# Sembunyikan assets & components pendukung
webui/public/** linguist-vendored
webui/src/assets/** linguist-vendored
webui/src/components/** linguist-vendored

# Buka akses views & App.vue (biar Vue dapat porsi ~40%)
webui/src/views/** linguist-vendored=false
webui/src/views/** linguist-detectable=true
webui/src/App.vue linguist-vendored=false
webui/src/App.vue linguist-detectable=true

# Deteksi C++
*.cpp linguist-detectable=true
*.cpp linguist-vendored=false
