# Sembunyikan bahasa pendukung
*.sh linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored

# Sembunyikan komponen & views berat di webui
webui/public/** linguist-vendored
webui/src/assets/** linguist-vendored
webui/src/components/** linguist-vendored
webui/src/views/** linguist-vendored

# Paksa C++ tetap terdeteksi utama
*.cpp linguist-detectable=true
*.cpp linguist-vendored=false
